
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,cakephp3
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,cakephp3

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets


### Idiomagic - CakePHP3 ###
# idiomagic/html/config/app.php
# idiomagic/html/config/.env
# idiomagic/html/logs/*
# idiomagic/html/tmp/*
# idiomagic/html/vendor/*
idiomagic/html/*

mariadb/data/*
postgres/data/*
webserver/docker/mysql/data/*

*/mysql/data/*
*/pgsql/data/*

*.bak
*.txt
*.zip

xIgnorar/*
