# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,cakephp3
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,cakephp3

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets


# ignoramos la carpeta data de todos los contenedores
*/data/*
# ignoramos la carpeta data de los contenedores que utilizar mysql y postgres
*/mysql/data/*
*/pgsql/data/*
# ignoramos código fuente
httpd/www/*
# ignoramos el código fuente de Idiomagic
idiomagic/html/*
# ignoramos las siguientes carpeta
photoprism/*
xIgnorar/*
# ignoramos los archivos
*.bak
*.zip


httpd/docker/mysql/data/*
webserver/docker/mysql/data/*
